absl-py==2.1.0
annotated-types==0.7.0
asttokens==2.2.1
astunparse==1.6.3
bcrypt==4.3.0
beautifulsoup4==4.12.3
black==24.3.0
blinker==1.9.0
certifi
cffi
charset-normalizer
click
colorama
coloredlogs==15.0.1
comm

contourpy
cryptography
cycler
debugpy
decorator
distro
dnspython==2.7.0
exceptiongroup
executing
filelock==3.17.0
Flask==3.1.0
Flask-Cors==5.0.0
Flask-PyMongo==3.0.1
Flask-SQLAlchemy==3.1.1
flatbuffers==25.1.24
fonttools
frozendict
fsspec==2024.12.0
gast==0.6.0
gdown==5.2.0
google-pasta==0.2.0
greenlet==3.2.1
grpcio==1.70.0
h5py==3.12.1
humanfriendly==10.0
idna
imageio==2.37.0
imgviz==1.7.6
importlib-metadata
ipydatawidgets
ipykernel
ipython
ipywidgets
itsdangerous==2.2.0
jedi
Jinja2==3.1.5
joblib==1.4.2
jsonpatch
jsonpointer==2.1
jupyter_client
jupyter_core
jupyterlab-widgets
keras==3.8.0
kiwisolver
labelme==5.6.1
lazy_loader==0.4
libclang==18.1.1
libigl==2.5.0
loguru==0.7.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib
matplotlib-inline
mdurl==0.1.2
menuinst
meshplot
ml-dtypes==0.4.1
mpmath==1.3.0
munkres==1.1.4
mypy-extensions
namex==0.0.8
natsort==8.4.0
nest-asyncio
networkx==3.4.2
nltk==3.9.1
numpy==1.26.2
onnx==1.17.0
onnxruntime==1.20.1
onnxslim==0.1.48
opencv-python==4.8.1.78
opt_einsum==3.4.0
optree==0.14.0
osam==0.2.2
packaging
pandas==2.2.3
parso
pathspec
pickleshare
Pillow==10.1.0
platformdirs
pluggy
prompt-toolkit
protobuf==5.29.3
psutil
pure-eval
py-cpuinfo==9.0.0
pycosat
pycparser
pydantic==2.10.6
pydantic_core==2.27.2
Pygments
pymongo==4.12.1
pyOpenSSL
pyparsing
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.16.1
pyreadline3==3.5.4
PySocks
python-dateutil
pythreejs
pytz==2024.2
pywin32==306
PyYAML==6.0.2
pyzmq
QtPy==2.4.2
regex==2024.11.6
requests
rich==13.9.4
ruamel.yaml
scikit-image==0.25.1
scipy==1.11.4
seaborn==0.13.2
six
soupsieve==2.6
SQLAlchemy==2.0.40
stack-data
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
tifffile==2025.1.10
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tornado
tqdm
traitlets
traittypes
truststore
typing_extensions==4.12.2
tzdata==2025.1
ultralytics==8.3.68
ultralytics-thop==2.0.14
urllib3
wcwidth
Werkzeug==3.1.3
widgetsnbextension
win-inet-pton
win32_setctime==1.2.0
wrapt==1.17.2
zipp
zstandard==0.19.0
